[submodule "patients"]
	path = patients
	url = git@github.com:MuhammadOrabi/assesment-task-patients.git
[submodule "doctors"]
	path = doctors
	url = git@github.com:MuhammadOrabi/assesment-task-doctors.git
[submodule "appointments"]
	path = appointments
	url = git@github.com:MuhammadOrabi/assessment-task-appointments.git
[submodule "front"]
	path = front
	url = git@github.com:MuhammadOrabi/assesment-task-front.git
[submodule "events"]
	path = events
	url = git@github.com:MuhammadOrabi/assessment-task-envents.git
